 
 body{
    margin: 0;
    font-family: monospace;
    font-size: 20px;
    background-color: #f0f8ff;
    
 }
 header{

    color: white;
    height: 100vh;
    background-color: #2196F3;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
   
}
.charan{
    background-color:#eafaf1;
}
h1{
    color: aqua;
    font-size: 40px;

}
header h1{
    margin: 0;
}

.Button{

 height: 40px;
 width: 140px;
 border:none;
 border-radius: 10px;
 cursor: pointer;                             
}
.Button:hover{
    color: white;
    background-color: darkblue;
}
section{
    height: 101vh;
    border: 1px solid grey;
    border-radius: 20px;
    margin-bottom: 15px;
     display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    

}
main{
    padding: 20px;
}
img{
    height:300px;
}
.submit{
    touch-action: none;
    height: 40px;
 width: 140px;
 border:none;
 border-radius: 10px;
 cursor: pointer;
 background-color: #2196F3;
    
}
.submit:hover{
    color: white;
    background-color: darkblue;
}
.FixedButton{
 
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: 70px;
    width: 70px;
    border: none;
     border-radius: 50px;
     cursor: pointer;
     color: white;
     background-color: #2196F3;

     
}
